body {
  margin: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #360d5d;
  margin: 0;
}

.logo {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar > li {
  padding-right: 3vw;
}

.searchBarWrapper {
  text-align: center;
  padding: 5px 0 5px 0;
}

.searchBarWrapper > input {
  height: 4.5vh;
}

.searchBarWrapper > button {
  height: 5vh;
}

.resListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resCardWrapper {
  margin: 9px;
  color: white;
  background-color: #360d5d;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 22vw;
  text-align: center;
  padding: 3vw;
  border: 1px solid black;
  border-radius: 30px;
}

.resCardWrapper > img {
  width: 100%;
}

.footer {
  text-align: center;
}

.f-logo::after {
  content: ' - Copyright 2023';
}

.f-navbar {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #360d5d;
  text-align: center;
  list-style: none;
}

.f-navbar > li {
  padding-right: 3vw;
}
